.container {
   width: 460px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-flow: row wrap;
   font-family: 'Nunito', sans-serif;
   font-size: 62px;
   color: #4a4a4a;
}

.kate {
   width: 150px;
   height: 150px;
   margin: 1px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background: #dfb7b7;
   transition: background 0.2s ease;
}

.kate:hover {
   background: #d5a0a0;
}

.txt {
   font-size: 20px;
   margin: 0 auto;
   cursor: pointer;
}